
\.vscode/

*.xwm

*.toc

*.gz

main\.pdf

*.log

*.out

*.ist

*.glo

*.aux

*.acn

*.xwm

*.toc

*.gz

main\.pdf

*.log

*.out

*.ist

*.glo

*.aux

*.acn


*.xwm

*.toc

*.gz

main\.pdf

*.log

*.out

*.ist

*.glo

*.aux

*.acn

*.synctex(busy)
